<html>
<head>
<title>
Datadog and {{ myteam }}
</title>
</head>
<body>
<h1>Datadog and {{ myteam }} App </h1>
<p>App is running on {{ ansible_hostname }} </p>
<p>This page was last deployed:<br />
{{ ansible_date_time.weekday }} {{ ansible_date_time.date }} {{ ansible_date_time.time }}</p>
</body>
</html>
